*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
keystore.properties
/key
.kotlin
domain/bin/
google-services.json
.atl/
.agent/
.agents/
.claude/
skills-lock.json
